.breadcrumb-container {
	padding-bottom: 15px;
	border-bottom: 1px solid #29a176;
	.title {
		width: 200px;
		float: left;
		color: #475669;
	}
	.breadcrumb-inner {
		float: left;
	}
}
.table-box {
  position relative;
  z-index 100;
}
.table-list-box{
  position relative;
  z-index: 100;
  top: 10px;
  margin: 0 20px 20px;
  .el-radio__inner {
    width: 14px;
    height: 14px;
  }
}

.table-list-pager {
  padding-top: 10px;
  .el-pagination {
    padding: 0;
  }
  .el-pagination button, .el-pagination span, .el-pager li {
    min-width: 25px;
    padding: 0 4px;
  }
}
.button-line {
  margin-bottom: 5px;
  &:first-child {
    margin-top: 5px;
  }
  .el-button {
    width: 100%;
  }
}
.search-box {
  position: relative;
  top: 10px;
  left: 20px;
  .title {
    float: left;
    margin-right: 10px;
    font-size: 14px;
  }
  .input-group {
    float: left;
    line-height: 21px;
    margin-bottom: 10px;
    &.badge {
      padding-top: 10px;
    }
    /* &:last-child {
      margin-bottom: 0px;
    } */
    .input1 {
      float: left;
      width: 160px;
      margin-right: 15px;
    }
    .input2 {
      float: left;
      width: 220px;
      margin-right: 15px;
    }
    .input, .select {
      float: left;
      width: 150px;
      margin-right: 15px;
      vertical-align: top;
    } 
    .date-range {
      float: left;
      width: 170px;
      margin-right: 15px;
      .el-input__icon {
        display: none;
      }
      .el-input__icon + .el-input__inner {
        padding-right: 10px;
      }
    }
    .el-badge {
      float: left;
      margin-right: 20px;
    }
    .el-date-editor {
      width: 150px;
    }
    .el-button--mini {
      vertical-align: top
    }
    .label {
      float: left;
      height: 22px;
      line-height: 22px;
      color: #48576a;
      font-size: 12px;
    }
  }
}
.total-bar {
  padding: 0 20px 10px;
  .total-line {
    overflow: hidden;
    font-size: 12px;
    margin-bottom: 10px;
    span {
      float: left;
      color: #475669;
    }
    .content {
      margin: 0 20px 0 10px;
      color: #20A0FF;
    }
 }
}
.el-dialog.dialog-platform {
  width: 400px;
}

.el-table {
  .el-button--mini {
    padding: 2px !important;
    margin: 2px !important;
  }
  .el-tag {
    display: inline-block;
    height: 18px;
    line-height: 16px;
    margin: 2px !important;
  }
}
.el-table__footer-wrapper {
  .cell {
    padding: 5px 10px !important;
  }
}
.el-select-dropdown__item.is-disabled {
  color: #bfcbd9 !important;
}
.cell .el-tooltip {
  text-decoration: underline;
  cursor: pointer;
}
.el-tooltip__popper {
  max-width: 300px;
}

>>> .cell .el-radio__label {
  display: none;
}
>>> .el-button--mini {
  vertical-align: top;
}
.btn-recharge {
  margin-right: 10px !important;
}

.border-line {
  margin: 10px 20px;
  height: 0;
  border-bottom: 1px solid #e5e9f2;
}

.el-pagination__editor {
    line-height: 18px !important;
    padding: 0 2px !important;
    width: 40px !important;
    vertical-align: top !important;
    font-size: 12px !important;
}
.el-badge__content {
  z-index: 1;
}

.el-pagination .el-select .el-input input {
  height: 20px;
  font-size: 12px;
}
.full {
  width: 100% !important;
}
textarea {
  min-height: 50px;
}

.detail-box {
  .el-tabs__header {
    padding: 0 20px;
  }
}

.info-box {
  padding: 0 20px;
  .info-group {
    line-height: 30px;
    margin-bottom: 10px;
    overflow: hidden;
    .label {
      float: left;
      width: 90px;
      font-size: 14px;
      line-height: 30px;
      color: #8391a5;
      &.large-lable {
        line-height 1.5
      }
      .hastip {
        color red
      }
    }
    .info-remark{
      float: left;
      width: auto
      font-size: 14px;
      line-height: 30px;
      color: #8391a5;
      .hastip {
        display inline-block
        margin-left: 20px
        color red
      }
    }
    .label-end {
      float: left;
      width: auto;
      font-size: 14px;
      line-height: 30px;
      color: #8391a5;
      margin-left -40px
    }
    .input {
      float: left;
      width: 220px;
      margin:0 50px 0 10px;
      vertical-align: top;
    }
  }
}

.cell .el-radio__label {
  display: none;
}
